<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/RJ/IdeaProjects/SeleniumWithTestNGANdPOM">
        <classes>
            <class name="Tests.HomePageTests"/>
            <class name="Tests.LoginTests"/>
            <class name="Tests.SearchTests"/>
        </classes>
    </test>
</suite>